In [1]:
import pandas as pd

In [2]:
m=pd.read_pickle('D:\Projects\house_price_predictor.pkl')

In [3]:
m

LinearRegression()

In [4]:
inco= eval(input('Enter the Income:'))
age= eval(input('Enter the House Age:'))
room= eval(input('Enter the Number of Rooms:'))
pop= eval(input('Enter the Population:'))

quary=pd.DataFrame({'Income':[inco],'House_Age':[age],'Rooms':[room],'Population':[pop]})

In [5]:
quary

   Income  House_Age  Rooms  Population
0   50000          4      6       30000

In [7]:
round(m.predict(quary)[0],2)

289615.58

# obfuscation